.logo-container {
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 510px;
        height: 510px;
        transform: rotateZ(10deg);

        text {
            font-size: 700px;
        }
    }
}

.solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    z-index: 1;
    animation: graduate-opacity 8s;
}

.svg-container text {
    stroke: #ffd700;
    stroke-width: 0.5;
    stroke-dasharray: 2060;
    stroke-dashoffset: 100;
    animation: dash 7s linear normal;

    @keyframes dash {
        from {
            stroke-dashoffset: 2060;
        }
        to {
            stroke-dashoffset: 0;
        }
    }
}

@keyframes graduate-opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
