.skill-charts {
    position: absolute;
    width: 60%;
    top: 0;
    bottom: 0;
    right: 50px;
    height: 100%;
    margin: auto;
    color: #fff;
    font-size: 30px;
    font-family: "Coolvetica";
    display: flex;
    justify-content: end;
    align-items: center;
}
